bin/hnc_dpid
bin/hnc_ipc
bin/hnc_tc_ingress
bin/hotspotd
bin/mdns_resolve
bin/hnc_launcher
bin/fork_probe
daemon/hnc_httpd/hnc_httpd

**/_libs_out/
**/_obj/
**/build/
**/out/
*.o
*.a

*.bak
*.tmp
*.old
*.orig
*.rej
.DS_Store
Thumbs.db

.idea/
.vscode/
*.swp
*.swo
